body {
    margin-top: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.table .thead-dark th {
    background-color: #526080;
    border-color: #000;
}

.destinations-table, .order-form, .search-form {
    width: 45%;
}

.orders-table {
    width: 100%;
    margin-bottom: 50px;
}

.noborder {
    border: none;
}

#btn {
    background: url('/05-travel/img/plane.jpg') no-repeat;
    background-size: contain;
}
